.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__

insights/public/frontend
insights/www/webform.html

*.bundle.*.js
*.bundle.*.js.*

pharm_ehr_tenant/public/frontend
pharm_ehr_tenant/www/webform.html
